body{
   background: url("../images/bg4.jpg");
    background-size: 100%;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
}
.login-box{
    background-color: #fff;
    padding: 60px;
    border-radius: 20px;
    width: 70%;
    height: 50%;
    margin-bottom: 4%;
}
.login-title{
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.login-input p{
    margin: 8% 0 10% 0;
    font-size: 20px;
}
.login-input input{
    border-left-style: none;
    border-right-style:none;
    border-top-style: none;
    background-color:transparent;
    width: 100%;
}
.login-btn {

    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
.login-btn #login{
    height: 20%;
    font-size: 16px;
    font-family: "806 Typography";
}

.login-btn input{
    width: 200px;
    height: 20px;
    border-radius: 6px;
    background-color: cornflowerblue;
    border: 0;
    padding: 1.5%;

}
.login-btn input:hover{
    background-color: gray;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 80%;
    left:50%;
    margin-left:-40%;
    margin-bottom: 1%;
    color: #fff;
}
.tips{
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
    vertical-align: middle;
    padding: 0.5%;

}
#text{

    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.tips span{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: center;
}
