.columns{
    margin: 10% 1%;
    width: 200px;
}
.colbtn {
    width: 100%;
    background: #f0f3f5;
    height: 15%;
    font-size: 25px;
    line-height: 15%;
    color: #525256;
    padding: 10% 0;
    border: none;
    display: block;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 6px;

    transition-property: color, background-color;
}
.colbtn:hover{
    background-color: #ff6700;
    color: #fff;
}

.login{
    position: absolute;
    right: 5%;
    background-color: white;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    padding: 0.5% 1.5%;
    font-size: 15px;
}
.timebox{
    font: 30px "Leelawadee UI Semilight";
    padding: 1%;
    color: #fffefe;
    width: initial;
}

.header-search{
    display: inline-block;

    width:800px;
    margin-bottom:-20px ;
    position: relative;
    right: 0;
}
.header-search .search-form{
    margin-top:25px;
    position:relative;
    display: block;
    width:inherit;
    height:50px;
}
.header-search .search-form .search-text{
    display: block;
    width:800px;
    height:50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0;
    float: left;
    position: absolute;
    top:0;
    right: 51px;
    font-size: 16px;
}
.header-search .search-form .search-botton{
    display: block;
    width:52px;
    height:50px;
    border: 1px solid #e0e0e0;
    float: left;
    font-size:24px;
    line-height: 50px;
    background-color: #fff;
    color:#616161;
    outline: 0;
    position: absolute;
    top:0;
    right: 0;
}
.header-search .search-form .search-botton:hover{
    background-color: #ff6700;
    color: #fff;
}