#title,#text{
    flex: auto;
    padding: 1px 0px
}
#text{height: initial}
.searchbox{
    margin: 20px;
    flex: auto;
}
.rightcol{
    margin: 0 auto;
}
.box{
    margin: 10% 0;
}
#search{
    width: 50%;
    height:30px;
    border: 2px solid skyblue;
    position: relative;
    left: 25%;
}
.action{
    float: right;
}
#thisModule{background-color: #7d8586}
tr,td {
    border:none;
}
table{
    width: 100%;
}

td{
    border-bottom:0.5px solid #c4c6c6 ;
    padding: 0.5%;
    font-size: 90%;
}