.order{
    display: inline-block;
    background-color: aliceblue;
    border: 2px darkcyan;
    border-style: hidden hidden solid ;
}
button{
    background:white;
    border: 0px hidden;
    width: 90px;
    display: inline-block;

}
.searchbox{
    margin: 20px;
}
#serch{
    width: 50%;
    height:30px;
    border: 2px solid skyblue;
    position: relative;
    left: 25%;
}
.action{
    float: right;
    font: 20px "Segoe UI Black";
    width: initial;
    border: 2px solid skyblue;
}
