.box{
    width: 1000px ;
    margin: auto;
}
.bottom{
    margin: 10px;
    width: 70%;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 15%;
    display: inline-block;
    justify-content: space-between;
}
#title,#text{
    flex: auto;
    padding: 1px 0px
}
#text{height: initial}
.msg{
    width: 30%;
    margin: 10px;
    display: inline-block;
}
.info{
    border: 2px solid #3085ff;
}
.order{
    display: inline-block;
    background-color: aliceblue;
    border: 2px darkcyan;
    border-style: hidden hidden solid ;
}
button{
    background:white;
    border: 0px hidden;
    width: 90px;
    display: inline-block;

}
.searchbox{
    margin: 20px;
}
#serch{
    width: 50%;
    height:30px;
    border: 2px solid skyblue;
    position: relative;
    left: 25%;
}
.action{
    float: right;
    font: 20px "Segoe UI Black";
    width: initial;
    border: 2px solid skyblue;
}
